<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Document</title>
  <style>
    .jumbotron{
        margin-top: 120px;
        background-color:rgb(243, 233, 233);
        color:red;
        width: 600px;
    }
    body{
        background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa80VaEqxezGIMWnxtuw6jrsMoiYyuswvz5A&usqp=CAU');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
</head>

<body>
 <!--jumbotron-->
 <div class="container" align="center">
  <div class="jumbotron">
    <div class="container">
        <h6>!!The email or password you entered is incorrect,please valid email or password.!!</h6>
        <br>
  <a class="btn btn-primary btn-lg" href="/" role="button">Back</a>
  
      
      </div>
    </div>
  </div>
  <!--jumbotron-->

  
  
</body>
</html>